<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
</head>
<body style="background-color:darkslategrey;">
    <h1 style="color:white">{{title}}</h1>
    <p>
    <a href="http://127.0.0.1:8000/owners/" style="color:white">OWNERS</a>
    <a href="http://127.0.0.1:8000/dogs/" style="color:white">DOGS</a>
    <a href="http://127.0.0.1:8000/owners_dogs/" style="color:white">DOGS AND OWNERS</a>
    <a href="http://127.0.0.1:8000/payments/" style="color:white">ALL PAYMENTS</a>
    <a href="http://127.0.0.1:8000/payments/" style="color:white">PAYMENTS</a>
    <a href="http://127.0.0.1:8000/all/" style="color:white">ALL</a>
    </p>
    <p style="color: white;">{{data}}</p>
</body>
</html>